{% extends 'core/navbar.html' %} {% load static %} {% block title %} Dashboard |
{{user.first_name}} {{user.last_name}} {% endblock title %} {% block content %}

<div class="container-fluid">
  <div
    class="row row-cols-1 row-cols-lg-2 g-0 mt-3 animate__animated animate__backInDown"
  >
    <div class="col-lg-5 mt-5">
      <div class="card border border-dark">
        <div class="list-group">
          <a
            href="{% url 'gestion-kinesiologos' %}"
            class="list-group-item list-group-item-action"
            >Gestion de Kinesiologos</a
          >
          <a
            href="{% url 'categorias' %}"
            class="list-group-item list-group-item-action"
            >Gestion de Categorias</a
          >
          <a
            href="{% url 'kinesiologo-dashboard' %}"
            class="list-group-item list-group-item-action"
            >Gestion de Pacientes</a
          >
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-sm-6 col-12 mt-5 ml-5">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between px-md-1">
            <div class="align-self-center">
              <i class="fa-solid fa-user text-info fa-3x"></i>
            </div>
            <div class="text-end">
              <h3>{{ pacientes }}</h3>
              <p class="mb-0 font-weight-bold">Pacientes</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12 mt-5 ml-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between px-md-1">
            <div class="align-self-center">
              <i class="fa-solid fa-stethoscope text-danger fa-3x"></i>
            </div>
            <div class="text-end">
              <h3>{{ kinesiologos }}</h3>
              <p class="mb-0 font-weight-bold">Kinesiologos</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
