{% extends 'core/navbar.html' %}

{% load static %}

{% block title %}
Dashboard | {{user.first_name}} {{user.last_name}}
{% endblock title %}

{% block content %}


<div class="row row-cols-1 row-cols-lg-2 g-0 mt-3 animate__animated animate__backInDown">
    <div class="col-lg-5 mt-5">

        <div class="row ml-3 p-2 d-flex justify-content-center">
            <button class="btn-grad-moon btn-lg text-white">
                Gestion de Kinesiologos
            </button>
        </div> 

        <div class="row  ml-3 p-2 d-flex justify-content-center">
            <button class="btn-grad-moon btn-lg text-white">
                Gestion de Categorias   
            </button>
        </div> 

        <div class="row  ml-3 p-2 d-flex justify-content-center">
            <button class="btn-grad-moon btn-lg text-white">
                Gestion de Pacientes  
            </button> 
        </div> 
    </div>


    <div class="col p-5 mt-5 ">

        <div class="row shadow-lg p-5 rounded">

            <div class="col text-center mt-2">
                <h5>Pacientes Activos: </h5>
                <span class="px-2 ml-2" style="border: 3px solid black;">1</span>
            </div>

            <div class="col text-center mt-2">
                <h5>Kinesiologos Activos: </h5>
                <span class="px-2 ml-2" style="border: 3px solid black;">1</span>
            </div>        
        </div>
    </div>
</div>


{% endblock content %}



