{% extends "core/navbar.html" %}

{% load static %}

{% block title %}
Crear Ejercicio | {{user.first_name}} {{user.last_name}}
{% endblock title %}


{% block content %}
<div class="px-3 py-1">
  <a href="/" class="text-uppercase text-dark" style="cursor: pointer;"><i class="fa-solid fa-angle-left"></i>
    Volver</a>
</div>


<div class="container-fluid">
  <div class="d-flex justify-content-center p-4 animate__animated animate__fadeInLeft">


    <form class="w-100" method="POST" autocomplete="off" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row">

        <div class="col">

          <div class="row">

            <div class="form-group col-lg-6 col-sm-12 d-flex flex-column">
              <label class="form-control-label"><b>Nombre del Ejercicio</b>
                <span class="text-danger"> *</span>
              </label>
              {{ejercicioForm.nombre}}
            </div>

            <div class="form-group col d-flex flex-column">
              <label class="form-control-label" for="cat"><b>Categoria</b>
                <span class="text-danger"> *</span>
                {{ ejercicioForm.categoria}}
            </div>
          </div>


          <div class="row justify-content-between text-left">

            <div class="form-group col-lg-6 col-sm-12 d-flex flex-column">
              <label class="form-control-label"> <b>Adjunta Videos</b>
                <span class="text-danger"> *</span>
              </label>

              <img style="object-fit: contain; cursor: pointer;" width="80%" height="height" onclick="_upload()"
                class="img-fluid border fotito border-dark" src=" {% static '/img/adjuntaEjercicio.png' %} " alt="foto">
              {{ejercicioForm.video}}

              <video class="video_paciente" width="80%" height="auto" style="display:none;" controls>
                Your browser does not support the video tag.
              </video>
              <br>
              <div style="width:70px">
                <a onclick="_upload()" class="botoncito btn btn-danger" style="display:none">
                  <i class="fas fa-edit" style="font-size: 40px;"></i>
                </a>
              </div>
            </div>

            <div class="form-group col-lg-6 col-sm-12 d-flex flex-column">
              <label class="form-control-label"> <b>Detalle del ejercicio</b>
                <span class="text-danger"> *</span>
              </label>
              {{ejercicioForm.detalle}}

            </div>
          </div>
          <div class="d-flex justify-content-end">
            <button class="btn-grad-moon text-white" style="color: black;">Subir ejercicio</button>
          </div>
          <small class="d-flex justify-content-end p-2 text-danger">* Debes rellenar todos los campos</small>

        </div>

      </div>

    </form>


  </div>
</div>



<!-- FUNCION  PARA QUE AL TOCAR LA IMG SE HABRA EL INPUT FILE -->
<script>
  function _upload() {
    document.getElementById('file_upload_id').click();
  }
</script>

<script>
  document.getElementById("file_upload_id").onchange = function (event) {
    let file = event.target.files[0];
    let blobURL = URL.createObjectURL(file);
    document.querySelector(".video_paciente").style.display = 'block';
    document.querySelector(".video_paciente").src = blobURL;
    document.querySelector(".fotito").style.display = 'none';
    document.querySelector(".botoncito").style.display = 'block';
  }
</script>

{% endblock content %}