{% extends "core/navbar.html" %}

{% load static %}

{% block title %}
Crear Semana | {{user.first_name}} {{user.last_name}}
{% endblock title %}

{% block content %}
<div class="row">

  <div class="col">
    <div class="px-3 py-1">
      <a class="text-uppercase text-dark text-decoration-none" href="{% url 'detalle-paciente' paciente.id %} "
        style="cursor: pointer;"><i class="fa-solid fa-angle-left"></i> Volver</a>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="text-right">
      Nombre Paciente: {{paciente.get_name}}
      {% if paciente.profile_pic %}
      <img class="rounded m-3" src="{{paciente.profile_pic.url}}" width="50" alt="">
      {% else %}
      <img class="rounded m-3" src="{% static 'img/fotoPerfil.png' %}" width="50" alt="">
      {% endif %}
    </div>

  </div>
</div>
<div class="container-fluid">

  <div class="row">

    <div class="col-4-sm ml-5 animate__animated animate__backInDown ">
      <h5>Nombre Semana</h5>
      {{createSemanaForm.nombre}} <br>
      <button form="formulario_categorias" class="btn-grad-normal" type="submit">Crear Semana</button>
    </div>
    <form id="formulario_categorias" method="POST">
      {% csrf_token %}
      <div class="col-8-sm">
        <div class="d-flex justify-content-center p-4 animate__animated animate__fadeInLeft">

          <div class="col px-4 py-1">
            <div class="accordion" id="accordion">

              <div>

                <div id="headingOne">
                  <h3 class="mb-0">
                    <button id="activate" type="button" onclick="show(); blur();"
                      class="btn btn-link text-decoration-none " data-toggle="collapse" data-target="#collapseOne"
                      aria-expanded="true" aria-controls="collapseOne">
                      <i class="fas fa-angle-left"> &nbsp;</i> LISTA EJERCICIOS
                    </button>
                  </h3>
                </div>

                <div id="collapseOne" class="collapse show p-3" aria-labelledby="headingOne">

                  <div class="d-flex flex-row">

                    <div class="d-flex mr-3 justify-content-start">
                      <input class="btn-grad-red" onclick="selects()" type="button" value="Añadir Todos" />
                    </div>
                    <div class="d-flex justify-content-end">
                      <input class="btn-grad-normal" onclick="deSelect()" type="button" value="Quitar Todos" />
                    </div>
                  </div>

                  <!-- AQUI EMPIEZA EL FOR -->
                  {% for ejercicio in ejercicios %}


                  <div class="row d-flex p-2">
                    <img class="img-fluid p-3" src="{{ ejercicio.video_thumbnail.url }}" alt=""
                      style="width: 400px;height: auto; object-fit: cover;">
                    <div class="col-sm mt-3">
                      <h3>{{ ejercicio.nombre }}</h3>
                      <h6 style="word-break: break-all; font-size: 14px;">{{ ejercicio.detalle }}</h6>
                      <div class="form-check d-flex justify-content-lg-around justify-content-sm-start mb-3">
                        <input class="form-check-input" type="checkbox"
                          style="width: 22px; height: 22px; cursor: pointer;" value="{{ ejercicio.id }}"
                          name="checkEjercicio">
                      </div>
                    </div>
                  </div>

                  <div class="form-check d-flex justify-content-center mb-2">
                  </div>
                  {% endfor %}
                  <!-- Aqui termina el for -->


                </div>

              </div>


            </div>



          </div>
        </div>

      </div>
    </form>
  </div>

</div>

</div>






<script>
  //Funcion para cambiar el icono con un click
  function show() {
    $('#activate').find("i").toggleClass('fa-solid fa-angle-right');
  }
</script>

<script>
  function selects() {
    const selec = document.getElementsByName('check');
    for (let i = 0; i < selec.length; i++) {
      if (selec[i].type == 'checkbox')
        selec[i].checked = true;
    }
  }

  function deSelect() {
    const selec = document.getElementsByName('check');
    for (let i = 0; i < selec.length; i++) {
      if (selec[i].type == 'checkbox')
        selec[i].checked = false;

    }
  }
</script>

{% endblock content %}