{% extends 'core/navbar.html' %}

{% load static %}

{% block title %}
Detalle Paciente | {{paciente.get_name}}
{% endblock title %}

{% block content %}
<div class="row">

  <div class="col">
    <div class="px-3 py-1">
      <a class="text-uppercase text-dark text-decoration-none" href="{% url 'kinesiologo-dashboard'  %} "
        style="cursor: pointer;"><i class="fa-solid fa-angle-left"></i> Volver</a>
    </div>
  </div>

  <div class="col-sm">
    <div class="text-right ">
      Nombre Paciente: {{paciente.get_name}}
      {% if paciente.profile_pic %}
      <img class="img-thumbnail rounded m-3" src="{{paciente.profile_pic.url}}" width="50" alt="">
      {% else %}
      <img class="img-thumbnail rounded m-3" src="{% static 'img/fotoPerfil.png' %}" width="50" alt="">
      {% endif %}
    </div>

  </div>
</div>



<div class="container-fluid">


  <div class="d-flex justify-content-center">

    <div class="row p-2 shadow-sm">

      <div class="col animate__animated animate__fadeInLeft">

        <h5 class="text-center">EJERCICIOS</h5>
        {% if semanas %}
        {% for semana in semanas %}
        <div class="row mt-4">
          <div class="col">
            <h5 class="text-center">
              <i style="color: #26C8DD" class="fa-solid fa-circle"></i>
              {{semana.nombre}}
            </h5>
          </div>

          <div class="col d-flex justify-content-center">
            <button class="btn-grad-normal" style="border-radius: 10px;">Ver Rutina</button>
            {% if semana.status %}
            <i class="fa-solid fa-check ml-3 mt-1"></i>
            {% else %}
            <i class="fa-regular fa-clock ml-3 mt-1"></i>
            {% endif %}
          </div>
        </div>
        {% endfor %}
        {% else %}

        <p>No hay semanas creadas</p>

        {% endif %}


        <div class="row d-flex justify-content-center mt-4 mb-2">
          <a href='{% url 'crear-semana' paciente.id %}' class="btn-grad-red">Crear Semana</a>
        </div>

      </div>

      <div class="col-sm mt-3 animate__animated animate__fadeInRight">
        <h5 class="text-center">Avance Semanal</h5>
        <div class="d-flex justify-content-center">
          <img class="img-fluid" width="450" src="{% static 'img/graficoP.png' %}" alt="Grafico semana">
        </div>
      </div>

    </div>

  </div>

</div>
{% endblock %}