<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h3 style="text-align: center;">Kinesiologo Signup Form</h3>
        <form method="POST" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}
            {{ userForm.as_p }}
            {{ kinesiologoForm.as_p }}

            <button type="submit" class="btn btn-success" style="border-radius:0px;">Solicitar cuenta</button>
        </form>
    </div>
</body>

</html>