{% extends "core/navbar.html" %}

{% load static %}

{% block title %}
Mis videos | {{user.first_name}} {{user.last_name}}
{% endblock title %}

{% block content %}

<style>
  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }

  div.gallery:hover {
    border: 1px solid #777;
  }

  div.gallery img {
    width: 100%;
    height: auto;
  }

  div.desc {
    padding: 15px;
    text-align: center;
  }
</style>
</head>

<body>
  
  {% for ejercicio in ejercicios  %}

  <div class="gallery">
    <a target="_blank" href="img_5terre.jpg">
      <img src="{{ejercicio.video_thumbnail.url}}" alt="{{ejercicio.nombre}}" width="600" height="400">
    </a>
    <div class="desc">{{ejercicio.detalle}}</div>
  </div>
  {% endfor %}
  {% endblock content %}