{% extends "core/navbar.html" %}

{% load static %}

{% block title %}
Mis videos | {{user.first_name}} {{user.last_name}}
{% endblock title %}

{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/mis_videos.css' %} ">

{% endblock customcss %}
{% block content %}


</head>

<body>

  <div class="px-3 py-1">
    <a href="/" class="text-uppercase text-dark" style="cursor: pointer;"><i class="fa-solid fa-angle-left"></i>
      Volver</a>
  </div>

  {% for cat in categorias %}
  <div class="gallery">

    <h1>{{cat}}</h1>
    {% for ejercicio in ejercicios  %}
    {% if ejercicio.get_category_name == cat %}
    <video id="my-video" class="video-js" controls preload="none" poster="{{ejercicio.video_thumbnail.url}}"
      data-setup="()">

      <source src="{{ejercicio.video.url}}" type="video/mp4">

    </video>
    <div>
      <h4>{{ejercicio.nombre}}</h4>
      <p class="text-center">{{ejercicio.detalle}}</p>
    </div>
    <div class="desc d-flex justify-content-start">

      <button class="btn btn-danger btn-sm mr-2" style="border-radius: 12px;">Eliminar</button>
      <a href="{% url 'modificar-ejercicio' ejercicio.id %}" class="btn btn-secondary btn-sm mr-5"
        style="border-radius: 12px;">Editar</a>
    </div>



    <br>
    {% endif %}

    {% endfor %}
  </div>
  {% endfor %}

  {% endblock content %}