{% extends "core/navbar.html" %}

{% load static %}

{% block title %}
Paciente | {{user.first_name }}
{% endblock title %}


{% block content %}
<br><br>
<div class="container-fluid">

    <div class="d-flex justify-content-center">

        <div class="row p-2 shadow-sm">
            <div class="col animate__animated animate__fadeInLeft">

                <h5 class="text-center">EJERCICIOS</h5>

                {% for semana in semanas %}
                <div class="row mt-4">
                    <div class="col">
                        <h5 class="text-center">
                            <i style="color: #26C8DD" class="fa-solid fa-circle"></i>
                            {{semana.nombre}}
                        </h5>
                    </div>

                    <div class="col d-flex justify-content-center">
                        <a href="{% url 'paciente-rutina' semana.id %}" class="btn-grad-normal"
                            style="border-radius: 10px;">Ver Rutina</a>
                        {% if semana.status %}
                        <i class="fa-solid fa-check ml-3 mt-1"></i>
                        {% else %}
                        <i class="fa-regular fa-clock ml-3 mt-1"></i>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}


                <div class="row d-flex justify-content-center mt-4 mb-2">
                    {% comment %} <button class="btn-grad-red">Iniciar Ejercicio de Hoy</button> {% endcomment %}
                </div>

            </div>

            <div class="col-sm mt-3 animate__animated animate__fadeInRight">
                <h5 class="text-center">Avance Semanal</h5>
                <div class="d-flex justify-content-center">
                    <img class="img-fluid" width="450" src="{% static 'img/graficoP.png' %}" alt="Grafico semana">
                </div>
            </div>

        </div>

    </div>

</div>
{% endblock content %}