{% extends "core/navbar.html" %}

{% load static %}

{% block title %}
Paciente | {{user.first_name }}
{% endblock title %}


{% block content %}
<br><br><br>
<div class="d-flex justify-content-center p-4">

    <div class="row">

        <div class="col border border-dark">

            <h5 class="text-center">EJERCICIOS</h5>

            <div class="row mt-4">

                <div class="col">
                    <h5 class="text-center">
                        <i style="color: #26C8DD" class="fa-solid fa-circle"></i>
                        Semana 1
                    </h5>
                </div>

                <div class="col d-flex justify-content-center">
                    <button class="btn btn-secondary btn-sm" style="border-radius: 10px;">Ver Rutina</button>
                    <i class="fa-solid fa-check ml-3 mt-1"></i>
                </div>
            </div>

            <div class="row mt-4">

                <div class="col">
                    <h5 class="text-center">
                        <i style="color: #26C8DD" class="fa-solid fa-circle"></i>
                        Semana 2
                    </h5>
                </div>

                <div class="col d-flex justify-content-center">
                    <button class="btn btn-secondary btn-sm" style="border-radius: 10px;">Ver Rutina</button>
                    <i class="fa-solid fa-check ml-3 mt-1"></i>
                </div>
            </div>

            <div class="row mt-4">

                <div class="col">
                    <h5 class="text-center">
                        <i style="color: #26C8DD" class="fa-solid fa-circle"></i>
                        Semana 3
                    </h5>
                </div>

                <div class="col d-flex justify-content-center">
                    <button class="btn btn-secondary btn-sm" style="border-radius: 10px;">Ver Rutina</button>
                    <i class="fa-regular fa-clock ml-3 mt-1"></i>
                </div>
            </div>

            <div class="row mt-4">

                <div class="col">
                    <h5 class="text-center">
                        <i style="color: #26C8DD" class="fa-solid fa-circle"></i>
                        Semana 4
                    </h5>
                </div>

                <div class="col d-flex justify-content-center">
                    <button class="btn btn-secondary btn-sm" style="border-radius: 10px;">Ver Rutina</button>
                    <i class="fa-regular fa-clock ml-3 mt-1"></i>
                </div>
            </div>

            <div class="row mt-4">

                <div class="col">
                    <h5 class="text-center">
                        <i style="color: #26C8DD" class="fa-solid fa-circle"></i>
                        Semana 5
                    </h5>
                </div>

                <div class="col d-flex justify-content-center">
                    <button class="btn btn-secondary btn-sm" style="border-radius: 10px;">Ver Rutina</button>
                    <i class="fa-regular fa-clock ml-3 mt-1"></i>
                </div>
            </div>


        </div>


        <div class="col-sm">
            <h5 class="text-center ">Avance Semanal</h5>
            <img class="img-fluid" src="{% static 'img/graficoP.png' %}" alt="Grafico semana">
        </div>

    </div>

</div>
<div class="row">
    <div class="col d-flex justify-content-end ">
        <button class="btn btn-info rounded-pill">Iniciar ejercicio de hoy</button>
    </div>
    <div class="col"></div>
</div>
{% endblock content %}