{% extends "core/navbar.html" %}

{% load static %}

{% block title %}
Mi Perfil | {{user.first_name}} {{user.last_name}}
{% endblock title %}

{% block content %}
<div class="px-3 py-1">
    <a class="text-uppercase text-dark text-decoration-none" href="/" style="cursor: pointer;"><i
            class="fa-solid fa-angle-left"></i> Volver</a>
</div>
{% comment %} <div class="animate__animated animate__backInDown container w-80 d-flex justify-content-center">

    <div class=" card p-5 mt-5 shadow-lg">
        <label class="form-label">Correo</label>
        <input class="form-control" disabled type="text" placeholder="{{request.user.email}}">
        <a class="btn-grad-moon btn-lg text-white" href="{% url 'cambiar-contrasena' %}">Cambiar
            contraseña</a>

    </div>
</div> {% endcomment %}
<div class="d-flex justify-content-start p-3 animate__animated animate__fadeInLeft">
    <div class="row">
        <div class="col">

            <div class="row">
                <div class="form-group col-sm-6 flex-column d-flex">
                    <label class="form-control-label"><b>Nombre Paciente</b>
                    </label>
                    <input class="form-control" required type="text" placeholder="Ingrese nombre"></div>

                <div class="form-group  col-sm-6 flex-column d-flex">
                    <label class="form-control-label"><b>Contraseña Paciente</b>
                        <span class="text-danger"> *</span>
                    </label>
                    <input class="form-control" required type="text" placeholder="Ingrese contraseña">
                    <small class="text-muted mt-1">La contraseña debe tener más de 6 caracteres</small>
                </div>
            </div>

            <div class="row justify-content-between text-left">
                <div class="form-group col-sm-6 flex-column d-flex">
                    <label class="form-control-label"> <b>Correo Paciente</b>

                    </label>
                    <input class="form-control" required type="email" placeholder="Ingrese correo"></div>

                <div class="form-group col-sm-6 flex-column d-flex">
                    <label class="form-label"> <b>Cuidador</b>

                    </label>
                    <input class="form-control" required type="text" placeholder="Ingrese cuidador">
                </div>
            </div>

            <div class="row justify-content-between text-left">
                <div class="form-group col-sm-6 flex-column d-flex">
                    <label class="form-control-label"> <b>Número Telefonico</b>

                    </label>
                    <input class="form-control" required type="text" placeholder="Ingrese Numero Telefonico"></div>

                <div class="form-group col-sm-6 flex-column d-flex">
                    <label class="form-label"> <b>Comuna Paciente</b>

                    </label>
                    <input class="form-control" required type="text" placeholder="Ingrese Comuna">
                </div>
            </div>


            <div class="row justify-content-between text-left">
                <div class="form-group col-sm-12 flex-column d-flex">
                    <label class="form-control-label"> <b>Descripcion del paciente</b>
                        <span class="text-danger"> *</span>
                    </label>
                    <textarea style="resize: none;" required class="form-control" cols="300" rows="6"></textarea>
                </div>
            </div>


        </div>

        <div class="col-sm">
            <div class="d-flex justify-content-center">

                <img style="object-fit: contain; cursor:pointer;" class="img-fluid p-5 rounded-circle"
                    src="{{ profile_pic }}" alt="foto">
            </div>


        </div>


    </div>

    <div class="d-flex justify-content-end ">
        <button class="btn-grad-moon mr-3 text-white" style="color: black;">Crear Paciente</button>
    </div>

</div>
{% endblock content %}