{% extends "core/navbar.html" %}

{% load static %}

{% block title %}
Mi Perfil | {{user.first_name}} {{user.last_name}}
{% endblock title %}

{% block content %}
<div class="px-3 py-1">
    <a class="text-uppercase text-dark text-decoration-none" href="/" style="cursor: pointer;"><i
            class="fa-solid fa-angle-left"></i> Volver</a>
</div>

<div class="d-flex justify-content-start p-4 animate__animated animate__fadeInLeft">

    <div class="container-fluid">

        <form class="w-100">

            <div class="row">

                <div class="col">

                    <div class="row">
                        <div class="form-group col d-flex flex-column">
                            <label class="form-control-label"><b>Nombre Usuario</b>
                                <span class="text-danger"> *</span>
                            </label>
                            <input class="form-control" required type="text" placeholder="Ingrese nombre"></div>
                    </div>

                    <div class="row justify-content-between text-left">
                        <div class="form-group col flex-column d-flex">
                            <label class="form-control-label"> <b>Correo Usuario</b>
                                <span class="text-danger"> *</span>
                            </label>
                            <input class="form-control" required type="email" placeholder="Ingrese correo"></div>
                    </div>

                    <div class="row justify-content-between text-left">
                        <div class="form-group col flex-column d-flex">
                            <label class="form-control-label"> <b>Número Telefonico</b>
                                <span class="text-danger"> *</span>
                            </label>
                            <input class="form-control" required type="text" placeholder="Ingrese Numero Telefonico">
                        </div>
                    </div>

                </div>

                <div class="col-sm">
                    <div class="d-flex justify-content-center">

                        <img style="object-fit: contain;" class="img-fluid p-5 rounded-circle"
                            src="./img/fotoPerfil.png" alt="foto">
                    </div>


                    <div class="d-flex justify-content-center">

                        <div class="btn-grad-normal" onclick="_upload()">
                            Subir Archivo
                            <i class="fa-solid fa-upload ml-2"></i>
                            <input type="file" id="file_upload_id" style="display: none;"
                                accept="image/png, image/jpeg, image/JPG" required>
                        </div>
                    </div>

                </div>

            </div>
            <div class="d-sm-flex justify-content-md-end justify-content-sm-center mt-5">
                <button class="form-group btn-grad-moon text-white">Guardar Cambios</button>
            </div>
        </form>
        <button onclick="window.location.href='{% url 'cambiar-contrasena' %}'" class="btn-grad-moon text-white">Cambiar
            Contraseña</button>

    </div>
</div>


<script>
    function _upload() {
        document.getElementById('file_upload_id').click();
    }
</script>
{% endblock content %}