/* CONFIGURACION BTN */         
.btn-grad-moon {
    background-image: linear-gradient(to right, #16222A 0%, #3A6073  51%, #16222A  100%);
    margin: 10px;
    padding: 9px 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    border: none;
  }
  
  .btn-grad-moon:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }
  
  .btn-grad-bluee{
    background-image: linear-gradient(to right, #616161 0%, #9bc5c3  51%, #616161  100%);
    margin: 10px;
    padding: 9px 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
    display: block;
    border: none;
  }

  .btn-grad-bluee:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }


           
  .btn-grad-gray {
    background-image: linear-gradient(to right, #bdc3c7 0%, #2c3e50  51%, #bdc3c7  100%);
    padding: 6px 14px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    border: none;
  }

  .btn-grad-gray:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

           
  .btn-grad-red{
    background-image: linear-gradient(to right, #D31027 0%, #EA384D  51%, #D31027  100%);
    padding: 6px 10px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    border: none;
  }

  .btn-grad-red:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 
 

         
  .btn-grad-normal {
    background-image: linear-gradient(to right, #485563 0%, #29323c  51%, #485563  100%);
    padding: 6px 14px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    border: none;
  }

  .btn-grad-normal:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 
  .btn-grad-blue {
    background-image: linear-gradient(to right, #1e3c72 0%, #2a5298  51%, #1e3c72  100%);
    margin: 10px;
    padding: 9px 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    border: none;
  }

  .btn-grad-blue:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

  .btn-grad-blue-2 {
    background-image: linear-gradient(to right, #1e726f 0%, #2a9882  51%, #1e7264  100%);
    padding: 6px 14px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    border: none;
  }

  .btn-grad-blue-2:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

 

 
  @media (max-width: 600px) {
    .btn-grad-moon{
      font-size: 13px;
    }
    .btn-grad{
      font-size: 13px;
    }
    .btn-grad-bluee{
      font-size: 13px;
    }
    .btn-grad-gray{
        font-size: 13px;
      }
    .btn-grad-normal{
      font-size: 13px;
    }

  }