@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



/* PALETA DE COLORES */
:root{
  --rojoclaro: #e63946;
  --blanco: #f1faee;
  --navBlue: #a8dadc;
  --blue2: #457b9d;
  --blue3: #1d3557;
}


*{
  font-family: 'Roboto', sans-serif;
}


nav {
  background-color: var(--blue2);
}


.row {
  width: 100% !important; 
}


#fotoEj {
  margin-left: 120px;
}

.adjunta {
  margin-top: 15px;
  height: 281.3px;
  width: 500px;  
}

.adjunta2 {
  margin-top: 13px;
  height: 281.3px;
  width: 500px;  
}





/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img{
  border-bottom: 5px solid #1d3557;
}








/* DURACION DEL FADE */
.animate__animated.animate__fadeInLeft {
  --animate-duration: 1.7s;
}  

/* DURACION DEL FADE */
.animate__animated.animate__fadeInRight {
  --animate-duration: 1.7s;
}  

.animate__animated.animate__backInDown {
  --animate-duration: 2s;
}







@media (max-width: 600px){
  .h5-responsivee{
    font-size: 16px;
  }

  .ejercicios {
    margin-top: 50px;
  }

  #fotoEj {
    margin-left: 10px;
    width: 93%;
  }

  .texto-area{
    font-size: 10px;
  }

  .adjunta {
    margin-left: 20px;
    margin-top: 20px;
    width: 350px;  
  }

  .adjunta2 {
    margin-left: 23px;
    margin-top: 20px;
    width: 350px; 
    height: 200px; 
  }
  
  #textFeedback{
    margin-top: 10px;
    margin-left: 24px;
  }
}













        








